body {
    background-color: black;
    font-family: Arial;
    color: white;
    text-align: center;
}

h1 {
    color: grey;
}

.maindiv {
    background-color: white;
    color: black;
    width: 350px;
    margin: 100px auto;
    padding: 25px;
    border-radius: 20px;
}

input {
    padding: 5px;
    width: 80%;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}